#logoHenry {
  margin-right: 20px;
  width: 40px;
}
.nav{
  background-image: url('../assets/fondo.jpeg');
  background-position: center center;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
  padding: 5px;
  padding-left: 15px;
  border: 20px;
  border-color: black;
  box-shadow: 3px 5px 5px rgba(3,32,51, .8);
}
.title{
  color: rgb(52, 41, 116);
  
}
